streamlit
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.3.2
xgboost==1.7.6
matplotlib
joblibairdrop-ng==1.1
airgraph-ng==1.1
alabaster==1.0.0
anki==25.9.2
annotated-types==0.7.0
anyio==4.12.1
apparmor==4.1.6
aqt==25.9.2
arandr==0.1.11
argcomplete==3.6.2
attrs==25.4.0
babel==2.17.0
beautifulsoup4==4.14.3
blinker==1.9.0
btrfsutil==6.19
build==1.4.0
CacheControl==0.14.4
cachy==0.3.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cleo==2.1.0
click==8.3.1
contourpy==1.3.3
crashtest==0.4.1
cryptography==46.0.5
cycler==0.12.1
decorator==5.2.1
defusedxml==0.7.1
distlib==0.4.0
distro==1.9.0
docutils==0.22.3
dulwich==0.25.2
fastjsonschema==2.21.2
filelock==3.24.0
findpython==0.7.1
Flask==3.1.2
flask-cors==6.0.2
fonttools==4.61.1
Glances==4.5.0.5
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
idna==3.11
imagesize==1.4.1
iniconfig==2.1.0
installer==0.7.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.9.0
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keyring==25.7.0
kiwisolver==1.4.7
lark==1.3.1
legacy-cgi==2.6.4
LibAppArmor==4.1.6
lit==21.1.8.dev0
Markdown==3.10.2
MarkupSafe==3.0.3
matplotlib==3.10.8
more-itertools==10.8.0
msgpack==1.1.2
nftables==0.1
numpy==2.4.2
OpenTimelineIO==0.18.1
orjson==3.11.7
packaging==26.0
pandas==2.3.3
pbs-installer==2026.1.27
pexpect==4.9.0
pillow==12.1.1
pipx==1.8.0
pkginfo==1.12.1.2
platformdirs==4.9.3
pluggy==1.6.0
poetry==2.3.2
poetry-core==2.3.1
poetry-plugin-export==1.9.0
pooch==1.9.0
proselint==0.14.0
protobuf==6.33.1
psutil==7.2.2
ptyprocess==0.7.0
pwquality==1.4.5
pyaaf2==1.7.1
pycairo==1.29.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
PyGObject==3.54.5
pyparsing==3.3.2
pyproject_hooks==1.2.0
PyQt6==6.10.2
PyQt6-WebEngine==6.10.0
PyQt6_sip==13.11.0
PySocks==1.7.1
pytest==8.4.2
python-dateutil==2.9.0
python-discovery==1.1.0
pytz==2025.2
QTermWidget==2.3.0
RapidFuzz==3.14.3
referencing==0.37.0
Reflector==2023.6.28.0.36.1
requests==2.32.5
requests-toolbelt==1.0.0
roman-numerals-py==3.1.0
rpds-py==0.30.0
scikit-learn==1.8.0
scipy==1.17.1
SecretStorage==3.4.0
Send2Trash==1.8.3
shellingham==1.5.4
shtab==1.8.0
six==1.17.0
smbus==1.1
snowballstemmer==2.2.0
soupsieve==2.8.3
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
TBB==0.2
threadpoolctl==3.5.0
tomlkit==0.14.0
tqdm==4.67.3
trove-classifiers==2026.1.14.14
typing-inspection==0.4.2
typing_extensions==4.15.0
ufw==0.36.2
urllib3==2.6.3
userpath==1.9.2
virtualenv==21.1.0
waitress==3.0.2
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.46.3
wxPython==4.2.4
